#ifndef _CREDENTIALS_
#define _CREDENTIALS_

const char* ssid = "YourWifiNetworkName";
const char* password = "YourWifiPassword";
const char* mqtt_server = "YourMQTTServerAddress";
const char* mqtt_user = "YourMQTTUser";
const char* mqtt_password = "YourMQTTPassword";

#endif